.COM-ILC-TECHNOLOGIES-CONTACTS .contacts-details-item {
  margin-top: 10px;
  clear: both;
}
.COM-ILC-TECHNOLOGIES-CONTACTS .contacts-details-item .item-header {
  float: left;
  width: 60px;
}
.COM-ILC-TECHNOLOGIES-CONTACTS .contacts-details-item .item-description {
  float: left;
}
